!!!
%html
  %head
    %title WebLog
    = stylesheet_link_tag    'yablog/application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'yablog/application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrapper
      / Navigation
      %nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "index.html"} SB Admin v2.0
        %ul.nav.navbar-top-links.navbar-right
          = render "yablog/admin/shared/navbar"

        .navbar-default.sidebar{:role => "navigation"}
          = render "yablog/admin/shared/sidebar"

      #page-wrapper
        .row
          .col-lg-12
            = yield

      .footer
